<!doctype html>
<html>
<head>
	<title>Parking System</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'mc/style.css' %}"/>	
	<!--link href="css/bootstrap.min.css" rel="stylesheet"-->
</head>
<body>
	<div class="main">
		<b><h1> Smart Parking Reservation </h1></b>
		<h2>Entering Parking </h2>
		<form action="{% url 'mc:check' %}" method="POST">
			{% csrf_token %}
			<!--p> <label for="PIN"> PIN </label-->
			<input style="text-align:center;width:230px;border-radius:5px;" type="text" name="PIN" placeholder="PIN" size="24" required="required" value="{{ request.GET.PIN }}"/> <!--/p-->
			<br><br>
			<input style="width:230px;border-radius:8px;" type="submit" name="Enter" value="Enter" />
		</form>
		<h2>Exiting Parking </h2>
		<form>
			<input style="text-align:center;width:230px;border-radius:5px;" type="text" name="PIN" placeholder="PIN" size="24" required="required" /> <!--/p-->
			<br></br>
			<input style="width:230px;border-radius:8px;" type="submit" name="Exit" value="Exit" />
		</form>
	</div>
		</body>
</html>
