body {
			background: url("parking031.jpg");
			background-position: center;
			color: white;
		}
		.main {
			font-family: "Caviar Dreams";
			fo
			<!--font-size: 125%;-->
			text-align: center;
			width: 50%;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			<!--
			margin-right: 25%;
			margin-top: 15%;
			margin-bottom: 15%;
			margin-left: 25%; -->
      }
